* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
}
  /* Style for the Navbar */
  .navbar {
    width: 100%;
    height: 20vh;
    margin-top: 2%;
    display: flex;
  }
  
 

  .nav-links {
    display: flex;
    gap: 30px;
    margin-left: 40%;
    list-style: none;
    margin-top: 8%;
  }
  
  .nav-links li {
    margin-left: 20px;
    position: relative;
  }
  
  .nav-links li a {
    color: rgb(59, 58, 58);
    display: flex;
    text-decoration: none;
    list-style: none;
  
    padding-left: 20%;
    font-size: 15px;
  }
  .index-1 img{
    
    width: 30%;
    height: 15vh;
    font-size: 30px;
    margin-left: 20%;

  }
  .nav-links li a:hover {
     
   text-decoration: underline  
  }
  
  /* Dropdown Menu */
 
  
  /* Hamburger Menu */
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 100;
  }
  
  .menu-icon .line {
    width: 25px;
    height: 3px;
    margin: 4px 0;
    background-color: black;
  }
  
  
  
  @media screen and (max-width: 450px) {
    .nav-links {
      display: none;
      width: 250px;
      flex-direction: column;
      position: absolute;
      top: 148px;
      left: 0;
      padding-right:50;
      background-color: white;
      z-index: 99;
    }
  
    .nav-links.show {
      display: flex;
    }
  
    .nav-links li {
      margin: 20px 0;
      text-align: center;
      margin-left: 10%;
      width: 20%;
    }
  
    .menu-icon {
      display: flex;
      color: black;
     margin-left: 60%;
     margin-top: 30%;
    }
    .index-1 img{
    
      width: 20%;
      height: 15vh;
      font-size: 20px;
      padding-right: 30px;
      display: none;
    }
   

  }



/* scale page start */
#scale{
    width: 100%;
    height: 70vh;

}
.scale-1 p{
    font-size: 60px;
    margin-left: 10%;
    margin-top: 5%;
    font-weight: 600;
    color: rgb(39, 39, 39);
}
.scale-2 h6{
    margin-left: 10%;
    margin-top: 3%;
    font-size: 30px;
    color: rgb(104, 138, 104);
    line-height: 35px;
    font-weight: 300;
}
.scale-2 span{
  font-weight: 600;
}
 .scale-3 {
 width: 20%;
 margin-left: 10%;
 margin-top: 3%;
 
 }
 .scale-3 button{
    background-color: rgb(1, 36, 30);
    color: white;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    font-size: 15px;
 }
@media screen and (max-width:450px){
    #scale{
        width: 250px;
        height: 100vh;
        margin-top: 10%;
    }
    .scale-1 p{
        width: 250px;
      font-size: 30px;
      font-weight: 600;
      color: rgb(39, 39, 39);
      margin-top: 10%;
    }
    .scale-2 h6{
        margin-top: 8%;
    }
    .scale-3{
        margin-top: 5%;
        width: 120px;
    }
    .scale-3 button{
        margin-left: 3%;
        width: 120px;
    }
}
/* scale page End */



/* natural page start */
#natural{
    width: 100%;
    height: 100vh;

}
.natural-1 h5{
    font-size: 35px;
    font-weight: bold;
    margin-left: 15%;
    margin-top: 5%;
    color: rgb(39, 39, 39);
}

.natural-2{
  background-color: rgb(214, 230, 214);
  width: 67%;
  height:40vh;
  margin-top:5%;
  margin-left: 15%;
  color: rgb(104, 138, 104);
}
.natural-2 p{
  padding-top: 4%;
  margin-left: 14%;

}
.natural-3{
  margin-top: 5%;
  margin-left: 15%;
 
}
.natural-3 h5{
  font-size: 25px;
  color: rgb(39, 39, 39);
  font-weight: 300;
}
.natural-3 span{
  margin-left: 12%;
}
.natural-4{
  margin-left: 45%;
  margin-top: 3%;
}
.natural-4 button{
  background-color: rgb(1, 36, 30);
  color: white;
  padding: 10px;
  width: 15%;
  border-radius: 5px;
  font-size: 15px;
}
@media screen and (max-width:850px){
  #natural{
    width: 200px;
    height: 100%;
    margin-top: 25%;
  }
  .natural{
    margin-top: 50%;
  }
  .natural-1 h5{
    width: 200px;
    font-size: 23px;
    margin-left: 40%;
   
  }
  .natural-2{
    width: 240px;
    height: 72vh;
    margin-left: 8%;
    margin-top: 5%;
  }
  .natural-3{
    margin-top: 20%;
  }
  .natural-4 button{
    width: 120px;
    /* margin-left: 3%; */
  
}

}
/* natural page End */

/* platform page start */

#platform{
 width: 80%;
  height: 120vh;
  /* background-color: rgb(234, 240, 234); */
}

.platform-2{
  padding-top: 5%;
  margin-left: 41%;
}

.platform-2 p{
  color: rgb(39, 39, 39);
  font-weight: 400;
 font-size: 30px;
}
.platform-2 span{
  color: rgb(94, 126, 94);
  font-weight: 600;
}
.platform-3{
  margin-top: 3%;
  width: 80%;
 margin-left: 40%;
}
.platform-3 button{
  background-color: black;
  color: white;
  padding: 8px;
  width: 20%;
  font-size: 20px;
  border-radius: 5px;
}
.platform-4{
  display: flex;
  margin-left: 10%;
  gap: 5%;
  margin-top: 10%;
}
.platform-5 img{
   width: 60%;
}
.platform-5 h6{
  margin-left: 15%;
  margin-top: 10%;
  font-size: 30px;
  
}
.platform-5 p{
  /* margin-left: 15%; */
  margin-top:5% ;
  font-size: 20px;
}
@media screen and (max-width:450px){
  .platform{
    width: 200px;
    height: 100vh;
    margin-top: 5%;
  }
  .platform-2 p{
    font-size: 20px;
  }
  .platform-3{
    display: none;
  }
  .platform-3 button{
    width: 100%;
  }
  .platform-4{
    display: block;
   
  }
}
/* platform page End */







/* grow page Start */

#grow{
  height: 60vh;
  width: 100%;
}
.grow{
  width: 65%;
  height: 48vh;
  margin-left: 19%;
  background-color: rgb(103, 146, 139);
  color: rgb(226, 220, 220);
}
.grow-1 p{
 
  font-size: 20px;
}
.grow-2{
  margin-top: 3%;
  width: 80%;
 margin-left: 40%;
}
.grow-2 button{
  background-color:rgb(245, 241, 241);
  color:rgb(61, 60, 60);
  padding: 8px;
  width: 25%;
  font-size: 15px;
  border-radius: 5px;
}
.grow-2 button:hover{
  background-color: rgb(16, 41, 37);
  color: rgb(236, 232, 232);
  border: 2px solid rgb(29, 12, 1);
}
.grow-3{
  margin-top: 3%;
  width: 80%;
 margin-left: 40%;
}
.grow-3 button:hover{
  background-color: rgb(16, 41, 37);
  color: rgb(236, 232, 232);
  border: 2px solid rgb(29, 12, 1);
}
.grow-3 button{
  background-color: rgb(179, 192, 179);
  color:rgb(61, 60, 60);
  padding: 8px;
  width: 25%;
  font-size: 15px;
  border-radius: 5px;
}
  @media screen and (max-width:450px){
    #grow{
      width: 300px;
      height: 75vh;
      margin-top: 30%;
    }
    .grow{
      width: 250px;
      height:65vh;
    }
    .grow-1 p{
      padding-top: 15%;
    }
    .grow-2 button{
      width: 50%;
   }
    .grow-3 button{
       width: 50%;
    }
  }

  /* grow page End */


/* centre page start */
#centre{
  width: 100%;
  height: 100vh;
  background-color: rgb(245, 245, 224);
}
.centre-1{
  padding-top: 5%;
  margin-left: 41%;
}

.centre-1 h6{
  color: rgb(39, 39, 39);
  font-weight: 400;
 font-size: 30px;
}
.centre-1 span{
  color: rgb(94, 126, 94);
  font-weight: 600;
}
.centre-2{
  margin-top: 3%;
  width: 80%;
 margin-left: 35%;
}
.centre-2 button{
  background-color: rgb(16, 41, 37);
  color: rgb(223, 221, 221);
  padding: 8px;
  width: 37%;
  font-size: 18px;
  border-radius: 5px;
}
.centre-2:hover{
  color:rgb(228, 228, 192);
}
.centre-3 {
  display: flex;
}
.centre-4 {
  margin-top: 5%;
  width: 40%;
}
.centre-4 h5{
margin-left: 20%;
margin-top: 5%;
color: rgb(32, 32, 32);
font-size: 30px;
font-weight: 300;
}
.centre-4 p{
  margin-top: 5%;
  margin-left: 25%;
  font-size: 20px;
  color: rgb(77, 76, 76);
}

.centre-4 .a{
  border-radius: 50%;
  background-color: rgb(103, 146, 139);
  color:rgb(228, 228, 192);
  padding: 10px;
  font-size: 30px;
  gap: 5%;
}
.centre-4 .b{
  margin-left: 10%;

}
.centre-4 button{
  background-color: rgb(182, 182, 136);
  color: rgb(103, 146, 139);
  padding: 8px;
  font-size: 18px;
  border: 0px solid rgb(182, 182, 136);
  border-radius: 5px;
  margin-top: 3%;
  width: 20%;
 margin-left: 33%;

}
.centre-4 .d{
  width: 30%;
}
.centre-4 button:hover{
  background-color: rgb(16, 41, 37);
  color: rgb(223, 221, 221);
}
.centre-5 img{
  margin-top: 15%;
  width: 80%;
  height: 50vh;
  margin-left: 15%;
}
@media screen and (max-width:850px){
  #centre{
    width: 300px;
    height: 130vh;
  }
  .centre-3{
    display: block;
  }
  .centre-4 p{
    width: 250px;
    margin-top: 5%;
  }
  .centre-4 .a{
    display: none;
  }
 
  .centre-4 h5{
    width: 250px;
  }
  .centre-2 button{
    width: 150px;
  }
  .centre-4 button{
    width: 150px;
  }
  .centre .d{
    width: 200px;
  }
  .centre-5 img{
    width: 200px;
    height: 30vh;
  }
}

/* centre page End */


/* interest page start */
#interest{
  width: 100%;
  height: 100vh;
 
}
.interest{
  display: flex;
}
.interest-1{
  width: 50%;
}
.interest-1 p{
  color: black;
  padding-top: 15%;
  margin-left: 20%;
  font-size: 40px;
}
.interest-1 span{
  color:rgb(99, 151, 143);
}
.interest-1 h6{
  padding-top: 7%;
  margin-left: 20%;
  font-size: 25px;
  color: rgb(77, 76, 76);
}
.interest-1 button{
  background-color: rgb(16, 41, 37);
  color: rgb(223, 221, 221);
  padding: 8px;
  width: 30%;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 7%;
 margin-left: 20%;
}
.interest-1 h5{
  margin-left: 20%;
  font-size: 18px;
  padding-top: 7%;
  color: rgb(43, 42, 42);
}
.interest-1 a{
  margin-left: 20%;
  font-size: 18px;
  margin-top: 5%;
  color: rgb(43, 42, 42);
}

@media screen and (max-width:850px){
 #interest{
  margin-top: 15%;
 }
  .interest{
    display: block;
  }
  .interest-1 h6{
    width: 150px;
  }
  .interest-1 button{
    width: 100px;
  }
  .interest-2 img {
    width: 50%;
    height: 50vh;
}
}

/* interest page End */



/* support page Start */

#support{
  width: 100%;
  height: 80vh;
  background-color: rgb(233, 243, 240);
  color: black;
}

.support-1 h5{
  color: black;
  padding-top: 5%;
  margin-left: 40%;
  font-size: 30px;
}
.support-2{
  display: flex;
}

.support-3 img{
  margin-left: 10%;
  margin-top: 10%;
}

.support-3 h6{
  margin-left: 28%;
  margin-top: 3%;
  color: rgb(115, 187, 115);
  font-size: 18px;
}
.support-4 img{
  width: 40%;
  height:50vh;
  margin-left: 20%;
}
.support-4 h6{
  margin-left: 25%;
  color: rgb(115, 187, 115);
  font-size: 18px;
}
@media screen and (max-width:850px){
  #support{
    width: 300px;
    margin-top: 70%;
    height: 70vh;
  }
  .support-1 h5{
    width: 100px;
    padding-top: 5%;
    font-size: 15px;
  }
  .support-2{
    display: block;
  }
  .support-3 img{
    width: 200px;
  }
}

/* support page End */



/* footer page start */
#footer{
  width: 100%;
  height: 45vh;
  background-color: black;
  color: rgb(133, 216, 133);
}
.footer{
  background-color: black;
  color: rgb(133, 216, 133);
  display: flex;
}
.footer-1 img{
  margin-top: 15%;
  margin-left: 35%;
}
.footer-2{
  margin-top: 5%;
  margin-left: 60%;
}
.footer-2 a{
  list-style: none;
  color: rgb(133, 216, 133);
  text-decoration: none;
  font-size: 20px;
}
.footer-3{
  display: flex;
  margin-top:8% ;
  gap: 35%;
  margin-right: 30%;
}
.footer-3 i{
  color: rgb(133, 216, 133);
  font-size: 30px;
}
@media screen and (max-width:850px){
  #footer{
    width:300px;
    display:block;
    margin-top: 10%;
  }
  .footer{
    display: block;
  }
  .footer-2{
    margin-right: 20%;
  }
  .footer-2 a{
    font-size: 10px;
    margin-top: 5%;
  }
  .footer-3{
    margin-left: 12%;
  }
}
/* footer page End */